<ng-include src="'partials/solo-styles.html'"></ng-include>
<div class="vcent">
	<div class="container">
	<div class=" col-md-2">

	<form ua-signup>
	<img class="cute" src="images/login.png" ng-show="!verificationEmailSent">
		<div class="form-group social-logins">
	<a href="" class="btn btn-warning" ua-oauth-link="facebook">Sign up with Facebook</a>
	<div><span class="line"></span><span class="or">or</span>
	</div>
	</div>
		<div class="form-group has-feedback">
			<input name="first_name" class="form-control" placeholder="Your name"><i class="fa form-control-feedback fa-user"></i>
		</div>
				<div class="form-group has-feedback">
		<input name="login" class="form-control" type="email" placeholder="Email"><i class="fa form-control-feedback fa-envelope"></i>
		</div>
		<div class="form-group has-feedback">
		<input name="password" placeholder="Password" class="form-control" type="password"><i class="fa fa-lock form-control-feedback"></i>
		</div>
		<div class="form-group">
		<p><button type="submit" class="btn">Sign up</button> or <a class="btn btn-or" href="#/login">Log in</a></p>


<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>
	</div>
		<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
		<p ng-show="error">{{ error.message }}</p>
	</form>
	</div>
	</div>

</div>
