@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.container-main {
	margin-top: 100px;
	@media print {
		margin-top: 0;
		hr {
			display: none;
		}
	}
}

body {
	min-height: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	@media print {
		text-shadow: none;
	}
}

.container-fluid {
	height: 100%;
}

.navbar-inverse {
	border: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	.navbar-nav > li > a {
		&:focus, &:hover {
			background: #FFF;
			color: #EF5C03;
			text-shadow: none;
		}
	}
}

.navbar-brand {
	padding: 5px 15px;
	img {
		max-height: 100%;
	}
}

.nav-search-icon {
	color: $link-color;
	top: 0;
}

.social-logins {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 20px;
	.line {
		background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
	}
	.or {
		position: absolute;
		bottom: -9px;
		left: 50%;
		padding: 0 8px;
		margin-left: -13px;
		color: #FFF;
	}
}

/* products page */
.action-buttons {
	margin-top: -84px;
	padding-bottom: 50px;
	float: right;
}

@media print {
	.products-table tr {
		th,td {
			&:nth-child(7), &:nth-child(8) {
				display: none;
			}
		}
	}
	.panel-body, .panel-heading {
		padding: 15px 0;
	}
	.nav-search-input {
		border: 0 !important;
		box-shadow: none !important;
		background: white !important;
	}
	.fa {
		display: none;
	}
}